# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/modules/client/.pnp
/modules/client/.pnp.js

# testing
/modules/client/coverage

# production
/modules/client/build
modules/server/build/*

# misc
/modules/client/.DS_Store
/modules/client/.env.local
/modules/client/.env.development.local
/modules/client/.env.test.local
/modules/client/.env.production.local

/modules/client/npm-debug.log*